[Desktop Entry]
Version=1.0
Type=Application
Name=Azkar
Comment=Muslim Morning and Evening Reminders
Exec=azkar-app
Icon=io.github.f47.Azkar
Terminal=false
Categories=Utility;
Keywords=Azkar;Zekr;Muslim;Reminders;
StartupWMClass=azkar
X-Flatpak-App-Id=io.github.f47.Azkar
